@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand&family=Roboto+Mono:ital,wght@1,200&display=swap');

*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    font-family: 'ROBOTO MONO',monospace, sans-serif;
    font-weight: 300;
    color: whitesmoke ;
    background-color: rgb(27, 25, 32);
}

/* LOGO AND NAVIGATION LINKS*/
header{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    height: 4em;
}

#logo{
    text-decoration:none;
    font-size: larger;
    margin: 2em;
}

#home header #logo{
    color: whitesmoke;
}

#logo:hover{
    opacity: 0.5;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul li{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 2em;
}

ul li :hover{
    opacity: 0,5;
}

#home header nav ul li a{
    color: whitesmoke;
    text-decoration: none;
}

/*Photos*/
#home{
    background-image: url(images/Laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

#portrait img{
    width: 30px;
    height: auto;
}

#content{
    height: 50vh;
    display: flex;
    flex-direction: center;
    align-items: center;
    
}