@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand&family=Roboto+Mono:ital,wght@1,200&display=swap');

/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'ROBOTO MONO',monospace, sans-serif;
    font-weight: 500;
    background-image: linear-gradient(135deg,rgb(29, 30, 30),white,rgb(236, 242, 247),rgb(22, 29, 32));
    background-repeat: no-repeat;
}

.links{
    text-decoration: none;
    color:rgb(2, 21, 21);
}

.hover :hover{
    opacity: 0.5;
}

.center{
    display:flex;
    justify-content: center;
    align-items: center;
}

    /* LOGO, NAVIGATION LINKS */
header{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    height: 10vh;
}

#logo{
    font-size: larger;
    margin: 1.5em;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul li{
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

header nav ul li :hover{
    opacity: 0.5;
}

footer{
    margin-right: 1em;
    margin-left: 1em;
    display: flex;
    justify-content: space-between; 
}


/*HOME PAGE*/
#home{
    background-image: url(../images/Laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(27, 25, 32);
}

    /* HOME */

.white-text{
    color:whitesmoke;
}

.portrait{
    width: 300px;
    margin: 2em;
    height: auto;
    opacity: 0.8;
}

img{
   width: 100%;
   border-radius: 8%;
   border: 1em;
   border-style:outset;
   border-color: rgb(157, 162, 162);
   opacity: 0.9;
}

.content{
    margin: 3em;
    height: 75vh;
    display: flex;
    flex-direction: column;
    align-items: center;   
}

.portrait :hover{
    opacity: 0.8;
}

/*WORK PAGE*/

#projects{
    width:100%;
    height: auto;
    margin-top: 5em;
    margin-bottom: 10em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2em;
}
.line{
    width: 70%;
    border-bottom:1px  solid rgb(142, 160, 160);
}


/*FLEX-BOX*/


.wrapper{
    display: flex;
    justify-content: space-between;
}

.second-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.left-justify{
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: flex-start;
}

#fname, #lname, #email, #submit{
    padding: 0.4em;
    background-image: linear-gradient(135deg,rgb(236, 242, 247),white, whitesmoke,rgb(97, 104, 107));
    border:rgb(40, 40, 40) solid 1px;
    margin: 1em;
}

#subject{
    width: 20em;
    height: 40em;
    background-color: whitesmoke;
    border:rgb(40, 40, 40) solid  1px;
   
}
