@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Quicksand&family=Roboto+Mono:ital,wght@1,200&display=swap');

/*GENERAL*/
*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: 'ROBOTO MONO',monospace, sans-serif;
    font-weight: 300;
}

    /* LOGO, NAVIGATION LINKS */
header{
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    width: 100%;
    height: 4em;
}

#logo{
    text-decoration:none;
    font-size: larger;
    margin: 2em;
    color: rgb(59, 57, 57);
}

#logo:hover{
    opacity: 0.5;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
}

ul li{
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

ul li a{
    text-decoration: none;
    color: rgb(59, 57, 57);
}

ul li a :hover{
    opacity: 0,5;
}

footer{
    display: flex;
    justify-content: space-between;

}


/*HOME PAGE*/
#home{
    background-image: url(../images/Laptop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-color: rgb(27, 25, 32);
    color:whitesmoke  
}

    /* HOME LOGO AND NAVBAR*/

#home header nav ul li a{
    color:whitesmoke;
}
#home header #logo{
    color:whitesmoke;
}

/* HOME FOOTER*/
#home footer{
    color:whitesmoke;
}

    /*CONTENT*/

.portrait{
    width: 200px;
    height: auto;
    opacity: 0.8;
}

.portrait img{
    width: 100%;
    margin-bottom: 2em;
    border-radius: 8%;
   border: 1em;
   border-style:outset;
}

#content{
    margin: 5em;
    height: 68vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content div a{
    text-decoration: none;
    color: whitesmoke;
}
 
#content :hover{
    opacity: 0.8;
}

/*WORK PAGE*/
#work{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.icon{
    width: 6em;
    height:auto;
    margin:2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


/*ABOUT*/

#grid{
    width: 80vh;
    display: grid;
    grid-template-columns: repeat(8 1fr);
    grid-template-rows: repeat(8 1fr);
}

#portrait-box{
    padding: pink;
    grid-column-start: 2;
    grid-column-end: 4;   
    grid-row-start: 1;
    grid-row-end: 3;
}


#intro{
    padding:aliceblue;
    grid-row-start: 4;
    grid-row-end: 7;
    grid-column-start: 3;
    grid-column-end: 7;
}

#recommendations{
    padding: rgb(190, 227, 181);
    grid-column-start: 5;
    grid-column-end: 7;   
    grid-row-start: 5;
    grid-row-end: 8;
}